<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{webjars/angular/1.3.14/angular.js}"></script>
</head>
<body ng-app="">
<div th:replace="bars :: header"></div>

<div id="content" class="wrapper">
    <h3>Spring Boot and Thymeleaf</h3>
    <p>Hello World!</p>
        <a href="/saml/index.html">SAML</a>
        <a href="/steam/index.html">Steam</a>
        <a href="/google/index.html">Google</a>
        <p th:text="${profile}">No Profile</p>
        <p th:text="${user}">No User</p>
        <a href="/logout">Logout</a>
</div>

<div th:replace="bars :: footer"></div>
</body>
</html>