<!DOCTYPE html>
<html ng-app="laganizerApp" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/angular/1.2.28/angular.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/angular-resource/1.2.28/angular-resource.js}"></script>
</head>
<body ng-controller="UserCtrl">
<div th:replace="bars :: header"></div>
<div th:attr="ng-init='setUser(\''+${user}+'\');'"></div>
<div th:attr="ng-init='setFirstName(\''+${firstName}+'\');'"></div>

<div id="content" class="wrapper">
    <h3>Spring Boot and Thymeleaf</h3>
    <p>Hello World!</p>
        <a href="/saml/index.html">SAML</a>
        <a href="/steam/index.html">Steam</a>
        <a href="/google/index.html">Google</a>
        <p th:text="${profile}">No Profile</p>
        <p th:text="${user}">No User</p>
        <a href="/logout">Logout</a>
    <p ng-show="user">Du bist im Moment Nutzer: {{firstName}}</p>
    <p>Das ist mein TestOutput: {{userList}}</p>
    <p ng-show="users">Das sind die aktuellen Nutzer {{users}}</p>

    <div ng-repeat="u in users.data">
        <label> Input {{u.name}}</label>
        <input ng-change="updateUser(u.name)" ng-model="u.name" type="test"/>
    </div>

    <p>Angular {{'funktioniert' + '!'}}</p>
</div>

<div th:replace="bars :: footer"></div>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/services.js}"></script>
<script th:src="@{/js/controllers.js}"></script>
</body>
</html>